body
  font-family: "Open Sans"
  font-weight: 300
  font-size: 12px
  line-height: 1.35
  margin: 0
  background-color: red
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale

a
  color: inherit
  text-decoration: inherit
  transition: color .2s ease-out
  &.selected, &:hover
    color: reduce(100)

a, b, strong, th
  font-weight: 400

h1, h2, h3, h4, h5, h6
  font-weight: 430
  color: #073cbf
  margin: 0.1em 0

main
  flex-grow: 1
  background-color: #e3e7ec


article a
  color: #0a8ed0

body > header a
  color: #ff6565
  font-weight: 400
  mix-blend-mode: normal
  mix-blend-mode: exclusion
  mix-blend-mode: color-dodge

body > header > h1
  font-size: 3em

header a
  color: red
  font-weight: 400
  mix-blend-mode: normal



article header a, footer a
  color: #073cbf
  font-weight: 400

hr
  border: 1px solid reduce(16)
  margin: 1em 0

header span, header time
  color: #9b32b1
  font-size: 0.7em

blockquote
  border-left: 5px solid #68f
  padding-left: 1.5em
  margin: 0

body, aside, main
  flex-direction: column

img
  max-width: 100%
  height: auto
  border-radius: 2px

figure
  margin: 1em 0

button
  padding: 5px 12px
  font-size: 0.9em
  background-color: #d44e99
  border-radius: 10px
  border: 0px
  box-shadow: 0.4em 0.3em 0.3em #cccccc
  margin: 5px
  color: #f5f5f5

select
  padding: 0.1em 0.5em
  border-radius: 0.5em

button:hover
  color: white
  background-color: #c1066f

.layer
  display: none











